<div class="page-info-content">

  <div class="svg-element">
    <svg class="bar bar-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76.532 85.706">
      <defs>
        <style>
          .cls-1 {
            fill: url(#linear-gradient);
          }
        </style>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#86c5a8"/>
          <stop offset="1" stop-color="#ffaebe"/>
        </linearGradient>
      </defs>
      <rect id="Rectangle_35" data-name="Rectangle 35" class="cls-1" width="104" height="11" rx="5.5"
            transform="translate(0 78.49) rotate(-49)"/>
    </svg>

    <svg class="bar bar-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76.532 85.706">
      <defs>
        <style>
          .cls-1 {
            fill: url(#linear-gradient);
          }
        </style>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#86c5a8"/>
          <stop offset="1" stop-color="#ffaebe"/>
        </linearGradient>
      </defs>
      <rect id="Rectangle_35" data-name="Rectangle 35" class="cls-1" width="104" height="11" rx="5.5"
            transform="translate(0 78.49) rotate(-49)"/>
    </svg>

    <svg class="bar bar-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76.532 85.706">
      <defs>
        <style>
          .cls-1 {
            fill: url(#linear-gradient);
          }
        </style>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#86c5a8"/>
          <stop offset="1" stop-color="#ffaebe"/>
        </linearGradient>
      </defs>
      <rect id="Rectangle_35" data-name="Rectangle 35" class="cls-1" width="104" height="11" rx="5.5"
            transform="translate(0 78.49) rotate(-49)"/>
    </svg>

    <svg class="bar bar-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76.532 85.706">
      <defs>
        <style>
          .cls-1 {
            fill: url(#linear-gradient);
          }
        </style>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#86c5a8"/>
          <stop offset="1" stop-color="#ffaebe"/>
        </linearGradient>
      </defs>
      <rect id="Rectangle_35" data-name="Rectangle 35" class="cls-1" width="104" height="11" rx="5.5"
            transform="translate(0 78.49) rotate(-49)"/>
    </svg>

    <svg class="bar bar-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76.532 85.706">
      <defs>
        <style>
          .cls-1 {
            fill: url(#linear-gradient);
          }
        </style>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#86c5a8"/>
          <stop offset="1" stop-color="#ffaebe"/>
        </linearGradient>
      </defs>
      <rect id="Rectangle_35" data-name="Rectangle 35" class="cls-1" width="104" height="11" rx="5.5"
            transform="translate(0 78.49) rotate(-49)"/>
    </svg>

    <svg class="bar bar-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76.532 85.706">
      <defs>
        <style>
          .cls-1 {
            fill: url(#linear-gradient);
          }
        </style>
        <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#86c5a8"/>
          <stop offset="1" stop-color="#ffaebe"/>
        </linearGradient>
      </defs>
      <rect id="Rectangle_35" data-name="Rectangle 35" class="cls-1" width="104" height="11" rx="5.5"
            transform="translate(0 78.49) rotate(-49)"/>
    </svg>

    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle circle-3"></div>
    <div class="circle circle-4"></div>
    <div class="circle circle-5"></div>
    <div class="litlebar litlebar-1"></div>
    <div class="litlebar litlebar-2"></div>
  </div>

  <!--TODO: mettre ne place la phrase d'accroche
  <h3 class="phrase-accroche">Vis l’évènement d'une nouvelle façon</h3>-->

  <div class="block-info">
    <p class="text-info">
      Green yourself est un jeu pour s’affronter entre amis ou explorer les bonnes et mauvaises pratiques écologiques. Choisis entre devenir un Green Ninja pour relever des missions ou un Green Explorer pour trouver de véritables trésors écologiques.

      Prends le pouvoir et make your event green again !

    </p>
    <div class="row">
      <button type="button" class="btn btn-primary btn-sm" routerLink="/login">Play</button>
    </div>
  </div>
</div>
