<div id="divline" class="animated bounceInLeft">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="640" height="640">
  <defs>
    <path d="M635.71 18.3C640.26 15.12 641.37 8.84 638.18 4.29C637.03 2.64 639.33 5.94 638.18 4.29C634.99 -0.26 628.72 -1.37 624.17 1.82C498.9 89.53 131.35 346.9 6.08 434.61C1.53 437.8 0.43 444.07 3.61 448.62C4.77 450.27 2.46 446.97 3.61 448.62C6.8 453.17 13.07 454.28 17.62 451.09C142.89 363.38 510.44 106.01 635.71 18.3Z" id="bwXTfpojR">
    </path>
    <linearGradient id="gradientaUy46b0Y" gradientUnits="userSpaceOnUse" x1="326.67" y1="234.7" x2="315.13" y2="218.21"><stop style="stop-color: #ff00ed;stop-opacity: 1" offset="0%"></stop><stop style="stop-color: #07f352;stop-opacity: 1" offset="100%"></stop></linearGradient></defs><g><g><g><use xlink:href="#bwXTfpojR" opacity="1" fill="url(#gradientaUy46b0Y)"></use></g></g></g>
</svg>
</div>
