.backgrounnd {
  background-color: #202624 !important;
}

.title {
  margin-top: 80px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  font-family: Roboto;
}

.list-evenement {
  margin-top: 70px;
  .evenement {
    height: 60px !important;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-bottom: 0px;
    label {
      margin-top: 10px;
      font-size: 1.4em;
      color: white;
      font-family: Roboto;
      margin-left: 8%;
    }
  }
}

.litlebar{
  height: 5px;
  width: 40px;
  background: #FFAEBE;
  border-radius: 2.5px;
  position: absolute;
}
.litlebar-1{
  transform: rotate(-30deg);
  right: 100px;
}
.litlebar-2{
  transform: rotate(-115deg);
  right: 221px;
  bottom: 337px;
  width: 25px;
}
.container{
  padding: 10%;
  text-align: center;
}
#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
  margin: 20px;
}

#custom-search-input .search-query {
  width:100%;
  padding-right: 3px;
  padding-left: 15px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: absolute;
  right:0;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#FFAEBE;
  cursor: unset;
  z-index: 2;
}

.search-query:focus{
  z-index: 0;
}
.circle-1,.circle-2,.circle-3{
  width: 20px;
  height: 20px;

}
.circle{
  position: absolute;
  background: #FFAEBE;
  border-radius: 50%;
  z-index: -8;
}
.circle-1{
  left: 40px;
}
.circle-2{
  bottom: 351px;  left: 30px;
}
.circle-3{
  right: 13px;
  top: 170px;
}
.circle-4{
  width: 15px;
  height: 15px;
  right: 122px;
  bottom: 536px;

}
.circle-5{
  width: 10px;
  height: 10px;
  right: 100px;
  bottom: 50px;
}

