.choose-title{
    padding: 15px;

}
.choose-profil-content{
    position: relative;
    padding-top: 50px;
    min-height: 100%;
    overflow: hidden;
    .choose-block{
        margin: 50px auto 50px auto;
        .choose{
            background: white;
            margin-bottom: 30px;
            padding: 20px;
            border-radius: 50px;
            min-width: 100%;
            border-color: white;
            .logo{
                img{
                    max-width: 100%;
                }
            }
            span{
                color: #202624;
                text-transform: uppercase;
                font-weight: 600;
                padding: 20px 0 20px 20px;
                text-align: left;
            }
        }
    }
    .choose-title{
        color: white;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        right: 0;
        font-weight: 600;
        text-align: center;
        top: 10px;
    }
    .circle{
        position: absolute;
        background: palevioletred;
        border-radius: 50%;
    }
    .circle-1,.circle-2,.circle-3{
        width: 20px;
        height: 20px;
        
    }
    .circle-1{
        left: 25px;
        top: 50px;
    }
    .circle-2{
        bottom: 120px;
        right: 70px;
    }
    .circle-3{
        right: 35px;
        top: 170px;
    }
    .circle-4{
        width: 15px;
        height: 15px;
        left: 110px;
        top: 0px;    
    }
    .circle-5{
        width: 5px;
        height: 5px;
        right: 100px;
        bottom: 160px;
    }
    .circle-6{
        width: 8px;
        height: 8px;
        right: 60px;
        top: 20px;
    }
    .litlebar{
        height: 5px;
        width: 40px;
        background: palevioletred;
        border-radius: 2.5px;
        position: absolute;
    }
    .litlebar-1{
        transform: rotate(-30deg);
        left: 40px;
        top: 10px;
    }
    .litlebar-2{
        transform: rotate(-115deg);
        right: 150px;
        top: 60px;
        width: 25px;
    }
    .litlebar-3{
        transform: rotate(-145deg);
        left: 70px;
        bottom: 130px;
        width: 40px;
    }


    .wave{
        margin-bottom: 0px;
    }
}